* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.servicios__desc {
  color: #f0d7f8;
  font-size: calc(1.375rem + 1.5vw);
  font-style: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.servicios__desc font {
  size: calc(1.375rem + 1.5vw);
}

.title {
  color: #bae22b;
  font-family: 'Amita', cursive;
}

a:-webkit-any-link {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

body {
  background: -webkit-gradient(linear, left bottom, left top, from(#d2a5da), to(#47145B));
  background: linear-gradient(to top, #d2a5da, #47145B);
  height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  color: black;
  background-color: #f0d7f8;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  border-radius: 10px;
  margin: 20px;
}

.main__menu li a {
  display: block;
  padding: 25px;
}

.header__logo {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

.header__logo img {
  width: 120px;
  height: 120px;
}

.header__logo:hover {
  cursor: pointer;
}

.main__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px;
  width: 100px;
  height: 25px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 25px;
  color: #f0d7f8;
  font-size: calc(1.375rem + 1.5vw);
  font-style: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

main font {
  size: calc(1.375rem + 1.5vw);
}

.main__article {
  color: #f0d7f8;
  font-size: calc(1.375rem + 1.5vw);
  font-style: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.main__article font {
  size: calc(1.375rem + 1.5vw);
}

.main__aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px;
}

.main__aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 25px;
}

footer {
  text-align: center;
  bottom: 20px;
  width: 100%;
}

.footer__container {
  text-align: center;
  margin: 15px;
}

.footer__container ul li {
  display: inline-block;
  margin: 0 55px;
  width: 55px;
  height: 55px;
  text-align: center;
}

.footer__container ul li a {
  display: inline-block;
  margin-top: 10px;
  width: 55px;
  height: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333;
  border-radius: 5px;
  color: white;
  line-height: 55px;
  font-size: 40px;
}

.footer__container ul:hover a {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.footer__container ul li a:hover {
  -webkit-filter: none;
          filter: none;
}

.footer__container .twitter:hover {
  background-color: white;
  color: #1da1f2;
}

.footer__container .whatsapp:hover {
  background-color: white;
  color: #00bb2d;
}

.footer__container .facebook:hover {
  background-color: white;
  color: #3b5998;
}

.footer__container .linkedin:hover {
  background-color: white;
  color: #0e76a8;
}

.footer__container .help:hover {
  background-color: white;
  color: #333;
}

/* contacto */
.video {
  height: 200px;
  width: 200px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  color: #f0d7f8;
  font-size: calc(1.375rem + 1.5vw);
  font-style: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.container font {
  size: calc(1.375rem + 1.5vw);
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 400px;
      grid-template-columns: 250px 400px;
  -ms-grid-rows: 100px 100px 100px 100px;
      grid-template-rows: 100px 100px 100px 100px;
      grid-template-areas: "prom1 desc1" "prom2 desc2" "prom3 desc3" "prom4 desc4";
}

.grid div {
  background: gray;
  padding: 1em;
}

.grid div:hover {
  border: 2px solid greenyellow;
}

.prom1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: prom1;
}

.prom2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: prom2;
}

.prom3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: prom3;
}

.prom4 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: prom4;
}

.desc1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: desc1;
}

.desc2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: desc2;
}

.desc3 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: desc3;
}

.desc4 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: desc4;
}

@media only screen and (max-width: 858px) {
  .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 10%;
            column-gap: 10%;
    row-gap: 5%;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 50vh;
  }
  body {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "logo nav buscador" "art aside" "redes";
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
  }
  .nav {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: nav;
  }
  .buscador {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: buscador;
  }
  .art {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: art;
  }
  .aside {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: aside;
  }
  .redes {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: redes;
  }
}
/*# sourceMappingURL=main.css.map */