* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.servicios__desc {
  color: #f0d7f8;
  font-size: 1rem;
  font-style: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; }

.title {
  color: #bae22b;
  font-family: 'Amita', cursive; }

a:-webkit-any-link {
  color: black;
  cursor: pointer;
  text-decoration: none; }

body {
  background: gradient(linear, left bottom, left top, from(#d2a5da), to(#47145B));
  background: linear-gradient(to top, #d2a5da, #47145B);
  height: 100vh;
  width: 100vw; }

header {
  display: flex !important;
  justify-content: space-around;
  margin: 10px;
  align-items: center; }

nav {
  display: flex;
  align-items: center;
  justify-content: center; }

.main__menu {
  display: flex !important;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  list-style-type: none;
  color: black;
  background-color: #f0d7f8;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 4vh;
  font-weight: normal;
  font-style: normal;
  border-radius: 10px;
  width: 100%; }

.main__menu li a {
  display: block;
  padding: 20px; }

.header__logo {
  display: block;
  justify-content: center;
  align-items: center; }

.header__logo img {
  width: 120px;
  height: 120px; }

.header__logo:hover {
  cursor: pointer; }

.main__search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px; }

.grid-container {
  display: flex;
  align-items: center;
  color: #f0d7f8;
  font-size: 1rem;
  font-style: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; }

.grid-contacto {
  display: grid;
  grid-template-columns: 250px auto 250px;
  grid-template-rows: 250px auto 250px;
  gap: 10px; }

.main__article {
  justify-content: center;
  color: #f0d7f8;
  font-size: calc(1.375rem + 1.5vw);
  font-style: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; }

.main__article font {
  size: calc(1.375rem + 1.5vw); }

.main__aside, .main__aside-right {
  display: flex;
  text-align: center; }

footer {
  text-align: center;
  bottom: 20px;
  width: 100vw; }

.footer__container {
  height: 50px;
  width: 100vw; }

.footer__container ul li {
  display: inline-block;
  height: 100%; }

.footer__container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16%;
  width: 100vw;
  height: 50px; }

.footer__container ul li a {
  display: inline-block;
  margin-top: 10px;
  width: 55px;
  height: 55px;
  align-items: center;
  background-color: #333;
  border-radius: 5px;
  color: white;
  line-height: 55px;
  font-size: 40px; }

.footer__container ul:hover a {
  -webkit-filter: blur(2px);
  filter: blur(2px); }

.footer__container ul li a:hover {
  -webkit-filter: none;
  filter: none; }

.footer__container .twitter:hover {
  background-color: white;
  color: #1da1f2; }

.footer__container .whatsapp:hover {
  background-color: white;
  color: #00bb2d; }

.footer__container .facebook:hover {
  background-color: white;
  color: #3b5998; }

.footer__container .linkedin:hover {
  background-color: white;
  color: #0e76a8; }

.footer__container .help:hover {
  background-color: white;
  color: #333; }

/* contacto */
.modal-body, .modal-title {
  justify-content: center;
  font-size: 1.5rem;
  color: #570772; }

form {
  display: flex;
  justify-content: center; }

.container {
  display: flex;
  text-align: center;
  color: #f0d7f8;
  font-size: calc(1.375rem + 1.5vw);
  font-style: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; }

.container font {
  size: calc(1.375rem + 1.5vw); }

.main__map {
  display: flex;
  justify-content: center;
  margin: 20px; }

.grid {
  display: grid;
  gap: 10px;
  text-align: center;
  justify-content: center;
  grid-template-columns: 250px 400px;
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-areas: "prom1 desc1" "prom2 desc2" "prom3 desc3" "prom4 desc4"; }

.grid div {
  background: gray;
  padding: 1em; }

.grid div:hover {
  border: 2px solid greenyellow; }

.prom1 {
  grid-row: 1;
  grid-column: 1;
  grid-area: prom1; }

.prom2 {
  grid-row: 2;
  grid-column: 1;
  grid-area: prom2; }

.prom3 {
  grid-row: 3;
  grid-column: 1;
  grid-area: prom3; }

.prom4 {
  grid-row: 4;
  grid-column: 1;
  grid-area: prom4; }

.desc1 {
  grid-row: 1;
  grid-column: 2;
  grid-area: desc1; }

.desc2 {
  grid-row: 2;
  grid-column: 2;
  grid-area: desc2; }

.desc3 {
  grid-row: 3;
  grid-column: 2;
  grid-area: desc3; }

.desc4 {
  grid-row: 4;
  grid-column: 2;
  grid-area: desc4; }

.grid-container {
  display: grid;
  grid-template-columns: 250px auto 250px;
  grid-template-rows: 250px auto 250px;
  gap: 10px; }

.grid-container > * {
  display: flex;
  align-items: center; }

header, footer {
  grid-column: 1 / span 3; }

@media all and (max-width: 1000px) {
  aside, article {
    grid-column: 1 / span 3; }
  .grid-container {
    grid-template-rows: repeat(5, 100px);
    text-align: center; }
  header, footer {
    display: flex;
    justify-items: center;
    align-items: center; }
  body {
    width: 100vw;
    height: 100vh; } }
