* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }


    @mixin textStyle(){
      color: #f0d7f8;
        font{
          size: calc(1.375rem + 1.5vw);
          font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
        }
  
    .servicios__desc{
      @include textStyle()
    }

    
  
  .title {
    color: #bae22b;
    font-family: 'Amita', cursive; }
  
  a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none; }
  
  body {
    background: linear-gradient(to top, #d2a5da, #47145B);
    height: 100vh; }
  
  header {
    display: flex;
    justify-content: space-between;
  }
  
  
  
  .main__menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    color: black;
    background-color: #f0d7f8;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    border-radius: 10px;
    margin: 20px;
  
  }
  
  .main__menu li a {
    display: block; 
    padding: 25px;
  
  }
  
  .header__logo {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 20px; }
  
  .header__logo img {
    width: 120px;
    height: 120px;
   }
  
  .header__logo:hover {
    cursor: pointer; }
  
  .main__search {
    display: flex;
    justify-content: center;
    margin: 50px;
    width: 100px;
    height: 25px;
  }
  
  
  main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 25px;
    @include textStyle();
  }

  .main__article{
      @include textStyle();

    }
  
  .main__aside {
    display: flex;
    margin: 25px; }
  
  .main__aside {
    display: flex;
    text-align: center;
    margin: 25px; }
  
  footer {
    text-align: center;
    bottom: 20px;
    width: 100%; }
  
  .footer__container {
    text-align: center;
    margin: 15px; }
  
  .footer__container ul li {
    display: inline-block;
    margin: 0 55px;
    width: 55px;
    height: 55px;
    text-align: center; }
  
  .footer__container ul li a {
    display: inline-block;
    margin-top: 10px;
    width: 55px;
    height: 55px;
    align-items: center;
    background-color: #333;
    border-radius: 5px;
    color: white;
    line-height: 55px;
    font-size: 40px; }
  
  .footer__container ul:hover a {
    filter: blur(2px); }
  
  .footer__container ul li a:hover {
    filter: none; }
  
  .footer__container .twitter:hover {
    background-color: white;
    color: #1da1f2; }
  
  .footer__container .whatsapp:hover {
    background-color: white;
    color: #00bb2d; }
  
  .footer__container .facebook:hover {
    background-color: white;
    color: #3b5998; }
  
  .footer__container .linkedin:hover {
    background-color: white;
    color: #0e76a8; }
  
  .footer__container .help:hover {
    background-color: white;
    color: #333; }
  
  /* contacto */
  .video {
    height: 200px;
    width: 200px; }
  
  form {
    display: flex;
    justify-content: center;
    }

    .container{
      @include textStyle()
    }
    
  
  
  
  .grid {
    display: grid;
    grid-template-columns: 250px 400px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-areas: "prom1 desc1" "prom2 desc2" "prom3 desc3" "prom4 desc4"; }
  
  .grid div {
    background: gray;
    padding: 1em; }
  
  .grid div:hover {
    border: 2px solid greenyellow; }
  
  .prom1 {
    grid-area: prom1; }
  
  .prom2 {
    grid-area: prom2; }
  
  .prom3 {
    grid-area: prom3; }
  
  .prom4 {
    grid-area: prom4; }
  
  .desc1 {
    grid-area: desc1; }
  
  .desc2 {
    grid-area: desc2; }
  
  .desc3 {
    grid-area: desc3; }
  
  .desc4 {
    grid-area: desc4; }
  
  @media only screen and (max-width: 858px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10%;
      row-gap: 5%;
      grid-template-rows: repeat(4, 1fr);
      align-items: center;
      justify-content: space-around;
      height: 50vh; }
    body {
      display: grid;
      grid-template-areas: "logo nav buscador" "art aside" "redes";
      grid-template-rows: auto;
      grid-template-columns: auto; }
    .logo {
      grid-area: logo; }
    .nav {
      grid-area: nav; }
    .buscador {
      grid-area: buscador; }
    .art {
      grid-area: art; }
    .aside {
      grid-area: aside; }
    .redes {
      grid-area: redes; } }
  
      
    }